src/Hardware/Sound/Sounds/* linguist-vendored
src/Hardware/Displays/Images/* linguist-vendored
src/Libs/* linguist-vendored
src/Libs/painlessMesh/* linguist-vendored
src/Libs/painlessMesh/src/* linguist-vendored
src/Libs/painlessMesh/src/painlessmesh/* linguist-vendored
src/Libs/painlessMesh/src/boost/* linguist-vendored
src/Libs/painlessMesh/src/plugin/* linguist-vendored
src/Libs/painlessMesh/src/arduino/* linguist-vendored
src/Libs/Adafruit_NeoPixel/* linguist-vendored
src/Libs/ESP32Encoder/* linguist-vendored