src/Sound/Sounds/* linguist-vendored
src/Displays/Images/* linguist-vendored

src/Libs/ESP32Encoder/* linguist-vendored

src/Libs/Adafruit_NeoPixel/* linguist-vendored

src/Libs/painlessMesh/* linguist-vendored
src/Libs/painlessMesh/arduino/* linguist-vendored
src/Libs/painlessMesh/boost/* linguist-vendored
src/Libs/painlessMesh/painlessmesh/* linguist-vendored
src/Libs/painlessMesh/plugin/* linguist-vendored